#blog {
    background-color: $back-lightblue;
    padding-top: 55px;
    padding-bottom: 91px;
    width: 100%;
    @include sp {
        padding-top: 100px;
    }
}

.blog-wrapper {
    padding: 0 15px;
}

.blog-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 54px;
    @include sp {
        flex-direction: column;
    }
}

.blog-item {
    width: percentage(389 / 1227);
    height: 387px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 3px 6px $shadow;
    position: relative;
    @include sp {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    @include min {
        height: 330px;
    }
    &:nth-child(n + 2) {
        @include sp {
            margin-top: 70px;
        }
    }
}

.blog-item-text {
    flex: 1;
}

.blog-content {
    font-size: 1.125rem;
    line-height: 1.444;
    padding-top: 14px;
    padding-left: 18px;
    padding-right: 10px;
    @include sp{
        font-size: 0.9rem;
    }
}

.blog-date {
    position: absolute;
    bottom: 3%;
    right: 5%;
    @include sp {
        font-size: 0.8rem;
    }
}