#price {
    background-color: $back-lightblue;
    padding-top: 55px;
    padding-bottom: 68px;
    @include sp {
        padding-top: 100px;
    }
}

.price-wrapper {
    padding: 0 49px;
    @include sp {
        padding: 0 20px;
    }
}

.price-table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 36px;
    width: 100%;
    box-shadow: 0 3px 6px $shadow;
    background-color: $white;
    @include sp {
        font-size: 0.9rem;
        margin-bottom: 70px;
    }
    td {
        border: solid 1px $faq-border;
    }
}

.name-cell {
    padding: 35px 19px 35px 19px;
    width: 278px;
    line-height: 1.75;
    @include sp {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: $back-gray;
    }
}

.price-cell {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 57px;
    @include sp {
        display: block;
        text-align: center;
        padding: 20px;
    }
}

.price-add {
    padding: 0 20px;
    text-align: center;
    line-height: 1.625;
}